.modal-header
  button.close(ng-click="modalInstance.dismiss()", type='button', aria-hidden="true") &times;
  h3.modal-title Details for: {{addresses.join(' - ')}}

.modal-body
  .row
    .col-lg-3
      select.form-control(ng-size='{{files.length}}', ng-model="selectedFile", required)
        option(ng-repeat="item in files", value="{{item}}", ng-selected="showFile.hashid == item.hashid") {{item.label}}
    .col-lg-9
      div(ng-show="!showFile") Select a file from the list.
      div(ng-show="showFile")
        .panel.panel-default
          .panel-heading(ng-bind="showFile.label")
          .panel-body
            .fullpath_header Original path of the evidence file
            .fullpath_contents "{{showFile.fullpath}}"
        .panel.panel-default
          .panel-heading Contents
          .panel-body
            .email_contents(ng-bind="showFile.content")
  

.modal-footer
  button.btn.btn-sm.btn-default(ng-click="modalInstance.dismiss()()") Close