.modal-header
  button.close(ng-click="modalInstance.dismiss()", type='button', aria-hidden="true") &times;
  h3.modal-title Details for: {{addresses.join(' - ')}}

.modal-body
  .row
    .col-lg-3
      .row
        .btn-group.col-lg-12
          a.btn.btn-default.btn-sm.col-lg-6(href="{{filesLink}}") Download all
          button.btn.btn-default.btn-sm.col-lg-6(type="button", ng-click="copyFilesLink()") Copy link to files

      select.form-control(ng-size='{{files.length}}', ng-model="selectedFile", required)
        option(ng-hide="true", value="?")
        option(ng-repeat="item in files", value="{{item}}", ng-selected="showFile.hashid == item.hashid") {{item.label}}
    .col-lg-9
      div(ng-show="!showFile") Select a file from the list.
      div(ng-show="showFile")
        .panel.panel-default
          .panel-heading {{showFile.label}}
            span.pull-right
              .btn-group
                a.btn.btn-sm.btn-default(href="/api/file/{{showFile.hashid}}") Download
                button.btn.btn-sm.btn-default(type="button", ng-click="copyLink(showFile)") Copy link
          .panel-body
            .col-lg-7
              h3.h5 File details
              table.col-lg-12
                tbody
                  tr
                    td Original path:
                    td "{{showFile.fullpath}}"
            .col-lg-5
              h3.h5 Change verification
              p.small Checks to validate if the file has changed since indexing.
              table.col-lg-12
                tbody
                  tr(ng-repeat="(hash, validated) in showFile.verification")
                    td(ng-bind="hash + ' validated:'")
                    td
                      i.glyphicon(ng-class="{'glyphicon-ok': validated, 'text-success': validated, 'glyphicon-remove': !validated, 'text-danger': !validated}", label="{{hash + ' ' + (validated ? 'validated' : ' not validated')}}")
        .panel.panel-default
          .panel-heading Contents
          .panel-body
            .file_content(ng-bind="showFile.content")
  

.modal-footer
  button.btn.btn-sm.btn-default(ng-click="modalInstance.dismiss()()") Close
