<div ui-view class="ng-scope">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="page-header">Cases</h1>
            <ol class="breadcrumb">
                <li>
                    <a ui-sref="index">Home</a>
                </li>
                <li class="active">
                    <strong>Cases</strong>
                </li>
            </ol>
        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeIn ng-scope">
        <div class="panel panel-default">
            <div class="panel-heading">
                Cases
                <div class="pull-right">
                    <div class="btn-group">
                        <a ui-sref="cases.create" class="btn btn-success btn-xs">Create new case</a>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table datatable="ng" class="table dataTables-example">
                        <thead>
                            <tr>
                                <th>Active</th>
                                <th>Name</th>
                                <th>Case Started</th>
                                <th>Lead Investigator</th>
                                <th>Investigator</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="(key, row) in rowCollection" ng-class="(row.id === activeRow) ? 'success' : '' ">

                                <td><input type="radio" name="row.active" ng-click="setActiveRow(row.id)" ng-checked="(row.id === activeRow)"/></td>
                                <td>({{(row.id === activeRow)}}) {{row.name}}</td>
                                <td>{{row.caseStarted | date:'M/d/yyyy'}}</td>
                                <td>{{row.leadInvestigator}}</td>
                                <td>{{row.investigators.join(", ")}}</td>
                                <td>
                                    <button ng-disabled="row.isDeleted" ui-sref="cases.edit({caseId:row.id})" class="btn btn-sm btn-primary" data-toggle="tooltip" title="Edit">
                                      <span class="glyphicon glyphicon-edit"></span>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
