<div ui-view class="ng-scope">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="page-header">Cases</h1>
            <ol class="breadcrumb">
                <li>
                    <a ui-sref="index">Home</a>
                </li>
                <li class="active">
                    <strong>Cases</strong>
                </li>
            </ol>
        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeIn ng-scope">
        <div class="panel panel-default">
            <div class="panel-heading">
                Cases
                <div class="pull-right">
                    <div class="btn-group">
                        <a ui-sref="cases.create" class="btn btn-success btn-xs">Create new case</a>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    
                </div>
            </div>
        </div>
    </div>
</div>
