<div ui-view class="ng-scope">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="page-header">Cases</h1>
            <ol class="breadcrumb">
                <li>
                    <a ui-sref="index">Home</a>
                </li>

                <li>
                    <a ui-sref="cases">Cases</a>
                </li>
                <li class="active">
                    <strong>Create</strong>
                </li>
            </ol>
        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeIn">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">Create a new case
                    <div class="pull-right">
                        <div class="btn-group">
                            <a ui-sref="^" class="btn btn-primary btn-xs" type="submit"><i class="fa fa-arrow-left"></i> Back to overview</a>
                        </div>
                    </div>
                </div>
                <form class="form-horizontal" novalidate ng-submit="addCaseForm.$valid && save(cases)" name="addCaseForm">
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Case name</label>
                            <div class="col-sm-8">
                                <input title="name" type="text" name="name" ng-model="cases.name" class="form-control" required/>
                                <div ng-show="addCaseForm.name.$invalid && addCaseForm.name.$dirty || addCaseForm.$submitted">
                                    <small class="text-danger" ng-show="addCaseForm.name.$error.required">Please enter the name</small>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Active</label>
                            <div class="col-sm-8">
                                <input title="active" type="checkbox" name="active" ng-model="user.activeCase" class="checkbox"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Lead investigator</label>
                            <div class="col-sm-8">
                                <select title="leadInvestigator" name="leadInvestigator" ng-model="cases.leadInvestigator" class="form-control" required>
                                    <option ng-repeat="user in formData.users" value="{{user._id}}">{{user._source.lastName}}, {{user._source.firstName}}</option>
                                </select>
                                <small class="text-danger" ng-show="addCaseForm.leadInvestigator.$error.required && addCaseForm.$submitted">Please enter the lead investigator</small>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Investigator</label>
                            <div class="col-sm-8">
                                <select title="Investigators" name="Investigators" ng-model="cases.investigators" class="form-control" multiple>
                                    <option ng-repeat="user in formData.users" value="{{user._id}}">{{user._source.lastName}}, {{user._source.firstName}}</option>
                                </select>
                                <small class="text-danger" ng-show="addCaseForm.Investigators.$error.required && addCaseForm.$submitted">Please enter the investigator</small>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <button class="btn btn-sm btn-success" type="submit">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
