div.col-md-12
  div.login-container.well.col-md-4.col-md-offset-4
    h1 Login
    form(ng-submit="login()")
      div.form-group
        label Email address:
        input.form-control(type="email" placeholder="Email" ng-model="username")
      div.form-group
        label Email address:
        input.form-control(type="password" placeholder="Password" ng-model="password")
      br
      button.btn.btn-default.pull-right(type="submit") Submit
    
