button.btn.btn-primary(ui-sref="admin.mapping") Create new mapping
table.table
  thead
    tr
      th Mapping
      th Status
      th Options
  tbody
    tr(ng-repeat="type in types")
      td(ng-bind="type")
      td(ng-bind="mappings[type].progress | percentage:2")
      td
        button.btn.btn-default(ng-if="mappings[type].progress", ng-click="pauseFilling(type)") Pause
        button.btn.btn-default(ui-sref="admin.mapping({type:type})") Edit
        button.btn.btn-default(ng-click="openVisualizations(type)") Visualizations
        button.btn.btn-danger(ng-click="deleteMapping(type, $index)") Delete