extends layout

block content
  header
    p(style='font-size: 18pt;')
      b U
      | niversal 
      b For
      | ensic 
      b I
      | ndexer and 
      b A
      | nalyzer - Enron Mailset
    p(style='font-size: 10pt;')
      ul
        li
          b Disclaimer 1: 
          | sorry, we can't guarantee this website always works (correctly)! Please 
          a(href='mailto:uforia@dhcp.net?Subject=Uforia Bug Report') report bugs 
          | and/or 
          a(href='https://github.com/uforia') submit a pull request 
          | !
        li
          b Disclaimer 2: 
          | we kindly request you to enable external Javascript, so we can log our visitors with Google Analytics - thank you in advance!
        li
          b Usage tips: 
          | visualize up to +/- 100 items, then try clicking on a Chord between entities, the outer edge of a Chord, the arrows between Graph entities or the nodes in a Graph!
        li
          b Warning: 
          | viewing Document results does not work (yet) - We're still working on the visualization!
        li
          b Common issues: 
          | too many results will cause visualization problems, and date limits will only function if defined as a secondary (or later) constraint

  .content(ui-view)
