doctype html
html(xmlns:ng="http://angularjs.org", ng-app="uforia", ng-controller="appCtrl as app")
  head
    title= title
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='./components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='./components/angular-ui/build/angular-ui.css')
    link(rel='stylesheet', href='./components/angular-ui-select/dist/select.css')
    link(rel='stylesheet', href='./stylesheets/style.css')
    //- link(rel='stylesheet', href='./stylesheets/old.css')
    block stylesheets
  body
    block content
    //- JQuery
    script(src='./components/jquery/dist/jquery.min.js')
    //- JQuery-UI
    script(src='./components/jquery-ui/jquery-ui.js')
    script(src='./components/jquery-ui/ui/sortable.js')
    //- Bootstrap
    script(src='./components/bootstrap/dist/js/bootstrap.js')

    //- Angular
    script(src="./components/angular/angular.js")
    //- Angular modules
    script(src="./components/angular-ui/common/module.js")
    script(src="./components/angular-ui/modules/directives/sortable/sortable.js")
    script(src="./components/angular-ui/modules/filters/unique/unique.js")
    script(src="./components/angular-ui-router/release/angular-ui-router.js")
    script(src="./components/angular-ui-bootstrap/src/transition/transition.js")
    script(src="./components/angular-ui-bootstrap/src/modal/modal.js")
    script(src="./components/angular-ui-bootstrap/src/dateparser/dateparser.js")
    script(src="./components/angular-ui-bootstrap/src/position/position.js")
    script(src="./components/angular-ui-bootstrap/src/datepicker/datepicker.js")
    script(src="./components/angular-ui-select/dist/select.js")
    script(src="./components/angular-drag-and-drop-lists/angular-drag-and-drop-lists.js")

    //- D3
    script(src="./components/d3/d3.js")
    script(src="./components/d3-tip/index.js")


    //- Socket.io
    script(src="https://cdn.socket.io/socket.io-1.3.3.js")

    //- App
    script(src="./javascripts/app.js")
    script(src="./javascripts/controllers.js")
    script(src="./javascripts/models.js")
    script(src="./javascripts/directives.js")
    script(src="./javascripts/filters.js")
    
    script(src="./javascripts/scrolltotop.js")

    script(src="./javascripts/analytics.js")