.row
  .col-lg-2
    label Name
    input.form-control(ng-model="mapping.name")
  .col-lg-2
    label Mime-types
    select.form-control.selectFields(ui-sortable, ng-model="selectedMimetypes", ng-size="{{Utils.keys(mime_types).length+1}}", multiple, ng-change="updateModulesList()", ng-click="updateModulesList()")
      optgroup(ng-repeat="(key, mime_types) in mimetypesList", label="{{key}}")
        option(ng-repeat="type in mime_types", value="{{type}}", ng-selected="selectedMimetypes.indexOf(type) != -1", ng-class="{available: checkMimetypeForFields(type)}") {{type.split('/')[1] || type}}
  .col-lg-2
    label Modules
    select.form-control(ui-sortable, ng-model="selectedModules", ng-size="{{Utils.keys(modules).length+1}}", multiple, ng-change="checkSelected('selectedModules', 'modules')", ng-click="checkSelected('selectedModules', 'modules')")
      optgroup(ng-repeat="(key, modules) in modulesList", label="{{key}}")
        option(ng-repeat="module in modules", value="{{module}}", ng-selected="selectedModules.indexOf(module) != -1", ng-class="{available: checkModuleForFields(module)}") {{module.split('_').pop() || module}}
  .col-lg-2.dnd
    label Fields
    ul(dnd-list='models.lists.fields')
      li(ng-repeat='(key,item) in models.lists.fields | unique:"field"', dnd-draggable='item', dnd-moved='models.lists.fields.splice($index, 1)', dnd-effect-allowed='move', ng-hide="item.field=='hashid'", ng-click="models.lists.fields.splice($index, 1); addField(item);", ng-class="{present: checkPresent(item)}") {{item.field}}
  .col-lg-2.dnd
    label Selected
    ul(dnd-list='models.lists.selectedFields', dnd-drop="selectField(event, index, item, type)")
      li(ng-repeat='(key,item) in models.lists.selectedFields', dnd-draggable='item', dnd-moved='models.lists.selectedFields.splice($index, 1); reloadFields();', dnd-effect-allowed='move', ng-click='models.lists.selectedFields.splice($index, 1); reloadFields();') {{item.field}}
  .col-lg-2
    button.btn.btn-primary(type="button", ng-click="createMapping()") Create Mapping