nav.navbar.navbar-default
  div.container-fluid
    div.navbar-header
      button.navbar-toggle(type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false")
        span.sr-only
          p Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href="#")
        p Brand
    
    div.collapse.navbar-collapse(id="bs-example-navbar-collapse-1")
      ul.nav.navbar-nav
        li.active
          a(href='#')
            p link
        li
          a(href="#")
            p Link
        li.dropdown
          a.dropdown-toggle(href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false")
            p Dropdown
            span.caret
          ul.dropdown-menu
            li 
              a(href="#")
                p 1
                
            li 
              a(href="#")
                p 2
                
            li 
              a(href="#")
                p 3
                
            li.divider(role="separator") 
              a(href="#")
              
            li 
              a(href="#")
                p 5
              
            li.divider(role="separator") 
              a(href="#")
              
            li 
              a(href="#")
                p 7
                    
