.row
    div.alert.alert-success.alert-dismissible(role="alert" ng-show="message.length > 0")
        button.close(type="button" data-dismiss="alert" aria-label="Close")
            span(aria-hidden="true") &times;
        ul(ng-repeat="m in message track by $index")
            li {{m}}
.row
    div.alert.alert-danger.alert-dismissible(role="alert" ng-show="error.length > 0")
        button.close(type="button" data-dismiss="alert" aria-label="Close")
            span(aria-hidden="true") &times;
        ul(ng-repeat="message in error track by $index")
            li {{message}}

.row
    .col-lg-12
        table.table.table-striped(st-table="rowCollection" st-safe-src="searchCollection")
            thead
                tr
                    th(colspan="3")
                        h1 User Overview
                    th(colspan="1")
                        input.form-control(st-search="" placeholder="Search ..." type="text")
                tr
                    th
                        button.btn.btn-success(ng-click="createUserModal()")
                            span.glyphicon.glyphicon-plus
                            |  Add user
                tr
                    th Name
                    th Email
                    th Role
                    th Actions
            tbody
                tr(ng-repeat="row in rowCollection")
                    td {{row.firstName + ' ' + row.lastName}}
                    td {{row.email}}
                    td {{row.role}}
                    td
                        .btn-group
                            button.btn.btn-warning(ng-click="editUserModal(row)")
                                span.glyphicon.glyphicon-pencil
                                |  Edit user
                            button.btn.btn-danger(ng-click="archiveUserModal(row)")
                                span.glyphicon.glyphicon-remove
                                |  Archive user
            tfoot
                tr
                    td(colspan="4" class="text-center")
                        div(st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="showNumberOfPages")