<div class="modal-header">
    <button ng-click="modalInstance.dismiss()" type="button" aria-hidden="true" class="close">&times;</button>
    <h2 class="h3 modal-title">Edit user</h2>

    <form novalidate ng-submit="editUserForm.$valid && save(editUser)" name="editUserForm" ng-controller="userOverviewCtrl">

        <div class="modal-body">
            <div class="row">
                <div class="alert alert-danger" role="alert" ng-show="cuErrorMessages.length > 0">
                    <ul ng-repeat="message in cuErrorMessages track by $index">
                        <li>{{message}}</li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">First name</label>
                        <div class="col-sm-8">
                            <input type="text" name="firstName" ng-model="editUser.firstName" class="form-control" required/>
                            <div ng-show="editUserForm.firstName.$invalid && editUserForm.firstName.$dirty || editUserForm.$submitted">
                                <small class="text-danger" ng-show="editUserForm.firstName.$error.required">Please enter the first name</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Last name</label>
                        <div class="col-sm-8">
                            <input type="text" name="lastName" ng-model="editUser.lastName" class="form-control" required/>
                            <div ng-show="editUserForm.lastName.$invalid && editUserForm.lastName.$dirty || editUserForm.$submitted">
                                <small class="text-danger" ng-show="editUserForm.lastName.$error.required">Please enter the last name</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Email</label>
                        <div class="col-sm-8">
                            <input type="email" name="email" ng-model="editUser.email" class="form-control" required/>
                            <div ng-show="editUserForm.email.$invalid && editUserForm.email.$dirty || addUserForm.$submitted">
                                <small class="text-danger" ng-show="editUserForm.email.$error.email">Please enter a valid email address</small>
                                <small class="text-danger" ng-show="editUserForm.email.$error.required">Please enter an email address</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-sm-4 control-label"></label>
                        <div class="col-sm-8">
                            <div class="checkbox">
                                <label><input type="checkbox" value="" ng-model="changePassword" ng-change="clearFields(changePassword)">Change password</label>
                            </div>
                            <div ng-show="editUserForm.email.$invalid && editUserForm.email.$dirty || addUserForm.$submitted">
                                <small class="text-danger" ng-show="editUserForm.email.$error.email">Please enter a valid email address</small>
                                <small class="text-danger" ng-show="editUserForm.email.$error.required">Please enter an email address</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Password</label>
                        <div class="col-sm-8">
                            <input ng-disabled="!changePassword" type="password" name="password" ng-model="editUser.password" ng-minlength="4" class="form-control" ng-required="changePassword"/>
                            <div ng-show="editUserForm.password.$invalid && editUserForm.password.$dirty || editUserForm.$submitted">
                                <small class="text-danger" ng-show="editUserForm.password.$error.minlength">The password has to be at least 4 characters</small>
                                <small class="text-danger" ng-show="editUserForm.password.$error.required && editUserForm.$submitted">This field is required</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Retype password</label>
                        <div class="col-sm-8">
                            <input ng-disabled="!changePassword" type="password" name="password2" ng-model="editUser.password2" ng-minlength="4" class="form-control" compare-to="editUser.password" ng-required="changePassword"/>
                            <div ng-show="editUserForm.password2.$invalid && editUserForm.password2.$dirty || editUserForm.$submitted">
                                <small class="text-danger" ng-show="editUserForm.password2.$error.minlength">The password has to be at least 4 characters</small>
                                <small class="text-danger" ng-show="editUserForm.password2.$error.compareTo && editUserForm.$submitted">The passwords must match</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <div class="row">
                <div class="col-lg-6">
                    <p class="help-block pull-left">All fields are mandatory.</p>
                </div>

                <div class="col-lg-6">
                    <button ng-click="submit(editUserForm.$valid)" class="btn btn-sm btn-default">Save</button>
                </div>
            </div>
        </div>
    </form>
</div>