/* E-mail detail viewer css */

html {
    width: 95%;
    margin: 0px;
    padding: 0px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 12px;
    font-weight: normal;
    margin: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    text-align: center;
}

div.main {
    width: 1000px;
    /* height: 600px; */
    min-height: 600px;
    display: inline-block;
}

div.header {
    font-size: 18px;
    font-weight: normal;
    display: inline-block;
}
div.header #header {
    font-weight: bold;
    display: inline-block;
}

div.close {
    float: left;
    display: inline-block;
}

div.sidebar {
    width: 200px;
    height: 100%;
    text-align: center;
    vertical-align: top;
    display: inline-block;
}

div.sidebar select#subjects {
    min-height: 300px;
    display: inline-block;
}

div.items_header {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    display: inline-block;
}
select {
    width: 180px;
    height: 100%;
    cursor: pointer;
    margin: 0px;
    overflow-y: scroll;
}

div.email {
    width: 650px;
    text-align: left;
    display: inline-block;
    border: 1px solid black;
    padding: 0px;
}
div.email_header {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

div.email_contents {
    font-weight: normal;
    padding: 2px;
    word-break: break-all;
    word-wrap: break-word;
    hyphens: auto;
    overflow: auto;
    text-align: left;
    unicode-bidi: embed;
    font-family: monospace;
    white-space: pre-wrap;
    display: inline-block;
}

div.fullpath_header {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid black;
}

div.fullpath_contents {
    font-weight: normal;
    padding: 2px;
    word-break: break-all;
    word-wrap: break-word;
    hyphens: auto;
    overflow: auto;
    text-align: left;
    unicode-bidi: embed;
    font-family: monospace;
    white-space: pre-wrap;
    display: inline-block;
}

input[type="button"] {
    font-size: 16px;
    color: #FFFFFF;
    background-color: #747474;
    cursor: pointer;
    border: 1px solid #000;
}
