/* general css */

html {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 12px;
    font-weight: normal;
}

body {
    margin: 0px;
}

h1 {
    font-size: 30px;
    font-weight: normal;
}

.show {
    display:block;  
}

.hide {
    display:none;
}

#message {
    text-align: center;
    font-size: 40px;
}

#d3_visualization {
    border: 1px solid black;
}

div.header {
	width: 1400px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

div.content{
	width: 1400px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

div.container {
    width: 900px;
    display: inline-block;
}

div.container h2 {
	margin:0px 10px 10px 10px;
}

div.sidebarLeft {
	float: left;
	width: 200px;
    text-align: center;
    margin: auto;
}

div.sidebarRight {
	float: right;
	width: 200px;
    text-align: center;
    margin: auto;
}

input[type="button"] {
    padding: 8px;
    font-size: 16px;
    color: #FFFFFF;
    background-color: #747474;
    cursor: pointer;
    border: 1px solid #000;
    margin:0px 10px 10px 10px;
}

input[type="text"]{
    width: 290px;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #000;	
}

select {
    width: 180px;
    padding: 8px;
    cursor:pointer;
    border: 1px solid #000;
    margin:0px 10px 10px 10px;
}

select.listbox {
	height: 400px;
}

div.matchesBox {
    width: 50%;
    min-width: 150px;
    height: 150px;
    border: 1px solid black;
    margin: 0 auto;
}

div.matchesBox h2 h1{
    text-align: center;
}