/* general css */

html {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 12px;
    font-weight: normal;
}

body {
    margin: 0px;
}

h1 {
    font-size: 30px;
    font-weight: normal;
}

h2 {
    font: sans-serif;
    font-size: 15px;
}

.show {
    display:block;  
}

.hide {
    display:none;
}

#message {
    text-align: center;
    font-size: 30px;
}

#d3_visualization {
    border: 1px solid black;
    text-align: center;
    overflow: scroll;
}

div.header {
    width: 1400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div.content{
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div.container {
    width: 80%;
    display: inline-block;
    overflow: auto;
}

div.container h2 {
    margin:0px 10px 10px 10px;
}

div.sidebarLeft {
    float: left;
    width: 200px;
    text-align: center;
    margin: auto;
}

div.sidebarRight {
    float: right;
    width: 200px;
    text-align: center;
    margin: auto;
}

input[type="button"] {
    padding: 8px;
    font-size: 16px;
    color: #FFFFFF;
    background-color: #747474;
    cursor: pointer;
    border: 1px solid #000;
    margin:0px 10px 10px 10px;
}

div.parameters h2 {
    display: inline;
}

.paramDateField {
    width: 100px;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #000;
    margin:0px 10px 10px 10px;
}

.paramField {
    width: 150px;
    padding: 8px;
    cursor:pointer;
    border: 1px solid #000;
    margin:0px 10px 10px 10px;
}

.paramOperator {
    width: 150px;
    padding: 8px;
    cursor:pointer;
    border: 1px solid #000;
    margin:0px 10px 10px 10px;
}

.paramQuery {
    width: 230px;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #000; 
    margin:0px 10px 10px 10px;
}

select {
    width: 180px;
    height: 100px;
    padding: 8px;
    cursor:pointer;
    border: 1px solid #000;
    margin:0px 10px 10px 10px;
}

select.listbox {
    height: 100px;
}

div.matchesBox {
    width: 50%;
    min-width: 180px;
    height: 100px;
    border: 1px solid black;
    margin: 0 auto;
    -webkit-transition: box-shadow linear 0.5s;
    transition: box-shadow linear 0.5s;
}

div.matchesBox h2 h1{
    text-align: center;
}
