body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.email_contents {
	white-space: pre-line;
}

.form-horizontal .control-label.center {
	text-align: center;
}

.dash:before {
	content: '-';
	position: absolute;
	left: -4px;
	top: 6.5px;
}

.control-text {
	padding-top: 7px;
}

.border-top {
	border-top: 1px solid black;
	padding-top: 15px;
}

.btn + .btn {
	margin-left: 4px;
}

.logo {
	font-size: 18pt;
}

.logo b {
	color: #428bca;
}