body {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.less-padding > div{
  padding-left: 5px;
  padding-right: 5px;
}

.file_content {
	white-space: pre-line;
  overflow-x: auto;
}

.form-horizontal .control-label.center {
	text-align: center;
}

.dash:before {
	content: '-';
	position: absolute;
	left: -4px;
	top: 6.5px;
}

.control-text {
	padding-top: 7px;
}

.border-top {
	border-top: 1px solid black;
	padding-top: 15px;
}

.btn + .btn {
	margin-left: 4px;
}

.logo {
	font-size: 18pt;
}

.logo b {
	color: #428bca;
}

/**
 * With nested lists it's very important that only the droplist and the
 * draggable elements react to mouse events. This can be achieved as follows:
 */
ul[dnd-list] * {
	pointer-events: none;
}

/**
 * For the correct positioning of the placeholder element, the dnd-list and
 * it's children must have position: relative
 */
ul[dnd-list], ul[dnd-list] > li { 
    pointer-events: auto;
	position: relative;
}

/**
 * The dnd-list should always have a min-height,
 * otherwise you can't drop to it once it's empty
 */
.dnd ul[dnd-list] {
    min-height: 42px;
    padding-left: 0px;
}

/**
 * The dndDraggingSource class will be applied to
 * the source element of a drag operation. It makes
 * sense to hide it to give the user the feeling
 * that he's actually moving it.
 */
.dnd ul[dnd-list] .dndDraggingSource {
    display: none;
}

/**
 * An element with .dndPlaceholder class will be
 * added to the dnd-list while the user is dragging
 * over it.
 */
.dnd ul[dnd-list] .dndPlaceholder {
    display: block;
    background-color: #ddd;
    min-height: 42px;
}

/**
 * The dnd-lists's child elements currently MUST have
 * position: relative. Otherwise we can not determine
 * whether the mouse pointer is in the upper or lower
 * half of the element we are dragging over. In other
 * browsers we can use event.offsetY for this.
 */
.dnd ul[dnd-list] li {
    background-color: #fff;
    border: 1px solid #ddd;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
}

.visualizations img {
    margin-top: 20px;
    border-radius: 20%;
}

.visualizations img.selected {
    background-color: #f3f3f3;
}

/**
 * Show selected elements in green
 */
.dnd ul[dnd-list] li.selected {
    background-color: #dff0d8;
    color: #3c763d;
}

/****** SPINNER ******
* Source: http://tobiasahlin.com/spinkit/
*/
.spinner {
  margin: 100px auto;
  width: 32px;
  height: 32px;
  position: relative;
}

.cube1, .cube2 {
  background-color: #428bca;
  border-color: #357ebd;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: cubemove 1.8s infinite ease-in-out;
  animation: cubemove 1.8s infinite ease-in-out;
}

.cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

@-webkit-keyframes cubemove {
  25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
  50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
  75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
  100% { -webkit-transform: rotate(-360deg) }
}

@keyframes cubemove {
  25% { 
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  } 50% { 
    transform: translateX(42px) translateY(42px) rotate(-179deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
  } 50.1% { 
    transform: translateX(42px) translateY(42px) rotate(-180deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  } 75% { 
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  } 100% { 
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}
/***** END OF SPINNER *****/

.dnd ul[dnd-list] li.present {
  background-color: #D4D4D4;
}

.available:not([selected]):before {
  content: '>';
}

.ui-select-toggle {
  text-align: left;
}

.ui-select-multiple.ui-select-bootstrap {
  padding: 4.5px 0px 1.5px 12px;
}

.text-muted {
  color: #BABABA;
}

div[size="xl"] .modal-dialog {
  width: 80%;
}

.margin-top {
  margin-top: 15px;
}