body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.email_contents {
	white-space: pre-line;
}

.matchesBox.danger {
	box-shadow: 0px 0px 10px red;
}

.matchesBox.warning {
	box-shadow: 0px 0px 10px orange;
}

.matchesBox.success {
	box-shadow: 0px 0px 10px green;
}

.matchesBox {
	margin-top: 10px !important;
}