
/*================ LOGIN PAGE ===================*/
.login-page{
    background:url('/assets/img/world-map-grey.png');
    background-size: 100%;
}

.login-title{
    text-align: center;
    font-size:43pt;
    margin-bottom:-60px;
    margin-top:20%;
}

/*================ SEARCH DETAILS MODAL =================*/
div[size="xl"] .modal-dialog {
  width: 80%;
}
.panel-heading .btn-group {
    margin-top: -6.5px;
}