#d3_visualization .node {
  cursor: pointer;
}

#d3_visualization .node:hover {
  stroke: #000;
  stroke-width: 1.5px;
}

#d3_visualization .node--leaf {
  fill: white;
}

#d3_visualization .label {
  font: 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-anchor: middle;
}

#d3_visualization .label,
.node--root{
  pointer-events: none;
}

#tooltip {
  color: white;
  opacity: .9;
  background: #333;
  padding: 5px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  position: absolute;
  z-index: 10;
  visibility: hidden;
  white-space: nowrap;
  pointer-events: none;
}