#tooltip {
  color: white;
  opacity: .9;
  background: #333;
  padding: 5px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  position: absolute;
  z-index: 10;
  visibility: hidden;
  white-space: nowrap;
  pointer-events: none;
}

#d3_visualization .node circle{
}

#d3_visualization text {
  pointer-events: none;
  font: 10px sans-serif;
}

#d3_visualization .link {
  stroke: #999;
  stroke-opacity: .6;
  stroke-width: 1.5px;
  fill: none;
}

div#d3_button_bar  input[type="button"] {
    width: 170px;
    float: center;
    padding: 8px;
    font-size: 16px;
    color: #FFFFFF;
    background-color: #747474;
    cursor: pointer;
    border: 1px solid #000;
}