<div ui-view class="ng-scope">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="page-header">Users</h1>
            <ol class="breadcrumb">
                <li>
                    <a ui-sref="index">Home</a>
                </li>

                <li>
                    <a ui-sref="users">Users</a>
                </li>
                <li class="active">
                    <strong>Create</strong>
                </li>
            </ol>
        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeIn">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">Create a new user
                    <div class="pull-right">
                        <div class="btn-group">
                            <a ui-sref="^" class="btn btn-primary btn-xs" type="submit"><i class="fa fa-arrow-left"></i> Back to overview</a>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" novalidate ng-submit="addUserForm.$valid && save(user)" name="addUserForm">

                        <div class="form-group">
                            <label class="col-sm-4 control-label">First name</label>
                            <div class="col-sm-8">
                                <input title="first name" type="text" name="firstName" ng-model="user.firstName" class="form-control" required/>
                                <div ng-show="addUserForm.firstName.$invalid && addUserForm.firstName.$dirty || addUserForm.$submitted">
                                    <small class="text-danger" ng-show="addUserForm.firstName.$error.required">Please enter the first name</small>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Last name</label>
                            <div class="col-sm-8">
                                <input title="last name" type="text" name="lastName" ng-model="user.lastName" class="form-control" required/>
                                <div ng-show="addUserForm.lastName.$invalid && addUserForm.lastName.$dirty || addUserForm.$submitted">
                                    <small class="text-danger" ng-show="addUserForm.lastName.$error.required">Please enter the last name</small>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Email</label>
                            <div class="col-sm-8">
                                <input title="email" type="email" name="email" ng-model="user.email" class="form-control" required/>
                                <div ng-show="addUserForm.email.$invalid && addUserForm.email.$dirty || addUserForm.$submitted">
                                    <small class="text-danger" ng-show="addUserForm.email.$error.email">Please enter a valid email address</small>
                                    <small class="text-danger" ng-show="addUserForm.email.$error.required">Please enter an email address</small>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label"></label>
                            <div class="col-sm-8">
                                <p class="help-block pull-left">Passwords should have at least 4 characters.</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Password</label>
                            <div class="col-sm-8">
                                <input title="password" type="password" name="password" ng-model="user.password" ng-minlength="4" class="form-control" required/>
                                <div ng-show="addUserForm.password.$invalid && addUserForm.password.$dirty || addUserForm.$submitted">
                                    <small class="text-danger" ng-show="addUserForm.password.$error.minlength">The password has to be at least 4 characters</small>
                                    <small class="text-danger" ng-show="addUserForm.password.$error.required && addUserForm.$submitted">This field is required</small>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Retype password</label>
                            <div class="col-sm-8">
                                <input title="password2" type="password" name="password2" ng-model="user.password2" class="form-control" compare-to="user.password" required/>
                                <div ng-show="addUserForm.password2.$invalid && addUserForm.password2.$dirty || addUserForm.$submitted">
                                    <small class="text-danger" ng-show="addUserForm.password2.$error.compareTo">The passwords must match</small>
                                    <small class="text-danger" ng-show="addUserForm.password.$error.required && addUserForm.$submitted">This field is required</small>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label">Choose role</label>
                            <div class="col-sm-8">
                                <select title="role" name="role" ng-model="user.role" class="form-control" required>
                                    <option ng-repeat="role in roles" value="{{role}}">{{role}}</option>
                                </select>
                                <small class="text-danger" ng-show="addUserForm.role.$error.required && addUserForm.$submitted">This field is required</small>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-4 col-sm-8">
                                <button class="btn btn-sm btn-primary" type="submit">Save</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>