<div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center m-t-lg">
                <h1>
                    <b>U</b>niversal <b>For</b>ensic <b>I</b>ndexer and <b>A</b>nalyzer - Visualize Anything!
                </h1>
                <small>
                    <b>Disclaimer 1: </b>sorry, we can't guarantee this website always works (correctly)! Please <a href="mailto:uforia@dhcp.net?Subject=Uforia Bug Report">report bugs </a>and/or <a href="https://github.com/uforia">submit a pull request </a>!<br />
                    <b>Usage tip 1: </b>Unless you are using the Bar Chart visualization, try to visualize up to +/- 200 items: more can make your browser slow!<br /><b>Usage tip 2: </b>Try clicking on the various parts of the visualizations (nodes, lines, edges, etc.) to get a detailed view of the documents.<br /><b>Usage tip 3: </b>For the cellphone log example, try searching for SiteName words such as 'Heineken', 'Bijlmer' or 'Sloterdijk' (set contains dummy data).<br />
                    <b>Common issues: </b>Visualizing too many results can make your browser slow or not show anything at all (empty canvas), the timeline horizontal axis breaks sometimes.
                </small>
            </div>
        </div>
    </div>
</div>